@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Mono&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap'); 

* {
  border: 0;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
}
html,
body  {
    overflow-x: hidden; 
    overflow-y: auto; 
    background-color: #0F103F;
}

ul, li,a {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono";
  font-size: 1.1vw;
  color: white;
}

p {
  color: #8892b0;
}

.container {
  max-width: 100%;
}
.custom-navbar {
  color: var(#142554);
}

.colorSlate {
  color: #8892b0;
}

.nav-link {
  color: rgba(255, 255, 255, 0.8) !important;
}

.nav-link:hover {
  color: rgb(245, 125, 255) !important;
}

.logo {
  color:rgb(204, 214, 246);
}

#numberSection {
  font-size: 20px;
  color: rgb(245, 125, 255);
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono";
}


.image-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 5px;
}

.hover-effect {
  --color: #fd7dff;
  --border: 5px;
  --offset: 10px;
  --gap: 5px;
  --_c: var(--color) var(--border), #0000 0 calc(100% - var(--border)), var(--color) 0;
  --_o: calc(3 * var(--offset));
  padding: calc(var(--gap) + var(--border)) calc(var(--gap) + var(--border) + var(--offset)) calc(var(--gap) + var(--border) + var(--offset)) calc(var(--gap) + var(--border));
  background: linear-gradient(var(--_c)) var(--_o) var(--_o), linear-gradient(90deg, var(--_c)) var(--_o) var(--_o);
  background-size: calc(100% - var(--_o)) calc(100% - var(--_o));
  background-repeat: no-repeat;
  filter: grayscale(0.4);
  transition: 0.5s;
  cursor: pointer;
}

.hover-effect:hover {
  background-position: 0px 0px;
  background-size: calc(100% - var(--offset)) calc(100% - var(--offset));
  filter: grayscale(0.4);
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #f57dff 1px, transparent 1px), linear-gradient(to bottom, #f57dff 1px, transparent 1px);
  background-size: 20px 20px;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.5s;
}

.image-container:hover .image-overlay {
  opacity: 0;
} 

.triangle-li {
  position: relative;
  margin-bottom: 5px;
  padding-left: 20px; 
  
}

.triangle-li::before {
  content: "";
    border-color: transparent #f57dff;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    top: 0.9em;
    position: relative;
    
}

.triangle-li span {
  margin-left: 20px;
  color: #8892b0;
}

@media (max-width: 767px) {
  .triangle-li  {
    font-size: 3vw;
    
  }
}

@media (max-width: 767px) {
  .triangle-li::before {
    font-size: 3.5vw;   
    
  }
}

@media (max-width: 767px) {
  .wordSize {
    font-size: 4vw;
    
  }
}

@media (max-width: 767px) {
  .about-text-grid {
    padding: 20px;
    
  }
}


@media (max-width: 767px) {
  .about-text-home {
    padding: 0 20px;
    
  }
}

.cardTitle {
  color: #f57dff;
}
.linkGit {
  font-size: 20px;
  color: #ccd6f6;
}
.linkGit:hover {
  color: #f57dff;
}
.cardLink {
  color: #ccd6f6;
  font-size: 17px;
}
.cardLink:hover {
  color: #f57dff;
}
.cardColor {
  color: #ccd6f6;
}

.cardColor:hover {
  background-color: rgba(251,202,255,0.1); 
  color:#f57dff;
  /* color:  #f57dff; */
}

.borderStyle {
  padding: 5px;
  font-size: 0.75rem;
  font-weight: 600;
  border-radius: 13px;
  background-color: rgba(251,202,255,0.4);
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono";
}

.contact-form-wrapper {
  padding:  0;
}

.contact-form {
  padding: 30px 150px;
  background-color: rgba(251,202,255,0.1); 
  border-radius: 12px;
}

.contact-form textarea {
  resize: none;
}

.contact-form .form-input,
.contact-form .form-text-area {
  background-color: #f0f4f5;
  height: 40px;
  padding-left: 16px;
  
}

.contact-form .form-text-area {
  height: auto;
  
}

.contact-form .form-control::placeholder {
  color: #aeb4b9;
  font-weight: 500;
  opacity: 1;
  font-family:  "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono";
}

.contact-form .form-control:-ms-input-placeholder {
  color: #aeb4b9;
  font-weight: 500;
  
}

.contact-form .form-control::-ms-input-placeholder {
  color: #aeb4b9;
  font-weight: 500;
}

.contact-form .form-control:focus {
  border-color: #f33fb0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 8px #f33fb0;
}

.contact-form .submit-button-wrapper {
  text-align: center;
}

.contact-form .submit-button-wrapper button {
  border-radius: 4px;
  background-color: #0F103F;
  color: white;
  padding: 20px 130px;
  font-weight: 500;
  letter-spacing: 2px;
  font-family:  "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono";
  transition: none; 
  min-width: 100px; 
}

.contact-form .submit-button-wrapper button:hover {
  border-color:  #f57dff;
  color: #f57dff;
}
.contact-form .submit-button-wrapper button:disabled {
  cursor: not-allowed;
}

@media (max-width: 576px) {
  .contact-form {
    padding: 30px 60px;
  }

  .contact-form .form-input,
  .contact-form .form-text-area {
    font-size: 14px;
    height: 30px;
  }

  .contact-form .form-text-area {
    height: auto;
  }

  .contact-form .submit-button-wrapper button {
    padding: 10px 90px;
  }

}

.footer-style {
  font-size: 12px;
}