@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Mono&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap');
* {
  border: 0;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
}
html,
body  {
    overflow-x: hidden; /* Prevent horizontal overflow */
    overflow-y: auto; /* Enable vertical scrolling if necessary */


  background-color: #0F103F;
  font-family: 'Poppins', sans-serif;
/*   z-index: 0;
  background-color: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  background-image: url(./assets/Home.png);
  background-size: cover;
  background-position: center center;
  margin: 0;
  min-width: 362vh;
  min-height: 100vh;
  overflow: auto; */
}

ul, li,a {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 1.1vw;
  color: white;
}

p {
  color: #8892b0;
}

.container {
  max-width: 100%;
}
.custom-navbar {
  color: var(#142554);
}

.colorSlate {
  color: #8892b0;
}

.nav-link {
  color: rgba(255, 255, 255, 0.8) !important;
}

.nav-link:hover {
  color: rgb(245, 125, 255) !important;
}

#numberSection {
  font-size: 20px;
  color: rgb(245, 125, 255);
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}


.image-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 5px;
}

.hover-effect {
  --color: #fd7dff;
  --border: 5px;
  --offset: 10px;
  --gap: 5px;
  --_c: var(--color) var(--border), #0000 0 calc(100% - var(--border)), var(--color) 0;
  --_o: calc(3 * var(--offset));
  padding: calc(var(--gap) + var(--border)) calc(var(--gap) + var(--border) + var(--offset)) calc(var(--gap) + var(--border) + var(--offset)) calc(var(--gap) + var(--border));
  background: linear-gradient(var(--_c)) var(--_o) var(--_o), linear-gradient(90deg, var(--_c)) var(--_o) var(--_o);
  background-size: calc(100% - var(--_o)) calc(100% - var(--_o));
  background-repeat: no-repeat;
  filter: grayscale(0.4);
  transition: 0.5s;
  cursor: pointer;
}

.hover-effect:hover {
  background-position: 0px 0px;
  background-size: calc(100% - var(--offset)) calc(100% - var(--offset));
  filter: grayscale(0.4);
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #f57dff 1px, transparent 1px), linear-gradient(to bottom, #f57dff 1px, transparent 1px);
  background-size: 20px 20px;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.5s;
}

.image-container:hover .image-overlay {
  opacity: 0;
} 

.triangle-li {
  position: relative;
  margin-bottom: 5px;
  padding-left: 20px; 
  
}

.triangle-li::before {
  content: "";
    border-color: transparent #f57dff;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    top: 0.9em;
    position: relative;
    
}

.triangle-li span {
  margin-left: 20px;
  color: #8892b0;
}

@media (max-width: 767px) {
  .triangle-li  {
    font-size: 3vw;
    
  }
}

@media (max-width: 767px) {
  .triangle-li::before {
    font-size: 3.5vw;   
    
  }
}

@media (max-width: 767px) {
  .wordSize {
    font-size: 4vw;
    
  }
}

@media (max-width: 767px) {
  .about-text-grid {
    padding: 20px;
    
  }
}


@media (max-width: 767px) {
  .about-text-home {
    padding: 0 20px;
    
  }
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
